<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>login</h1>
    <form method = "post" action = "/login/">
        {% csrf_token %}
        Username: <input type = "text" name="username"><br>
        password <input type="password" name="password"><br>
       <p> <input type = "submit" value="login"></p>
        <input type = "hidden" name="next" value="{{ next }}">
    </form>
{{ message }}<br>
<a href="http://127.0.0.1:8000/register">Do you want to create an account?</a>
</body>
</html>