<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>login</h1>
    {% if form.errors %}
    <p>please retype it</p>
    {% endif %}

    <form method = "post" action = "{%url 'login' %}">
        {% csrf_token %}

        <p>username: {{ form.username }}</p>
       <p>password: {{ form.password }}</p>
       <p> <input type = "submit" value="login"></p>
        <input type = "hidden" name="next" value="{{ next }}">
    </form>
<a href="http://127.0.0.1:8000/register">Do you want to create an account?</a>
</body>
</html>